*{
    color:rgb(115, 210, 226);
    font-weight: bolder;

}
html { 
    background: url(img/boahancockgif2.gif) no-repeat center fixed; 
    background-size: 1499px;
    background-color: rgb(206, 189, 93);
  }